<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>EventosApp</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/img/logo.webp" type="image/x-icon">
</head>

<body>

    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/menu" class="brand-logo">Lista de eventos</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/cadastrarEvento" class="waves-effect waves-light btn">
                            <i class="material-icons left">add_circle_outline</i>Cadastrar Evento
                        </a></li>
                </ul>
            </div>
        </nav>
    </header>

    <table class="container">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Local</th>
                <th>Data</th>
                <th>Horario</th>
                <th>Deletar</th>
                <th>Editar</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="evento : ${eventos}">
                <td><a th:href="@{/detalhesEvento/{codigo}(codigo = ${evento.codigo})}"><span
                            th:text="${evento.nome}"></span></a></td>
                <td><span th:text="${evento.local}"></span></td>
                <td><span th:text="${evento.data}"></span></td>
                <td><span th:text="${evento.horario}"></span></td>
                <td><a class="waves-effect waves-light btn-small"
                        th:href="@{/deletarEvento(codigo = ${evento.codigo})}">
                        <i class="material-icons left">delete</i></a></td>

                <td><a class="waves-effect waves-light btn-small" 
                        th:href="@{/editarEvento(codigo = ${evento.codigo})}">
                        <i class="material-icons left">create</i></a></td>
        </tbody>
    </table>

    <!-- JavaScript at end of body for optimized loading -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>