<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/index.css" />
    <link rel="icon" href="/img/logo.webp" type="image/x-icon">
    <title>Tela inicial</title>
</head>

<body>
    <!-- Barra de navegação -->
    <div class="navbar">
        <img src="/img/logo.webp" alt="Logo" class="logo">
        <button class="nav-button" onclick="navigateTo('justEventos')">Eventos</button>
        <button class="nav-button" onclick="navigateTo('login')">Entrar</button>
    </div>

    <!-- GIF de fundo -->
    <div class="gif-container">
        <img src="/img/festaneon.gif" alt="GIF de fundo">
    </div>

    <!-- Conteúdo centralizado -->
    <div class="info-container">
        <h1>BEM-VINDO AO ARCADIA!</h1>
        <p>AQUI VOCÊ ENCONTRA AS FESTAS PARA CURTIR COM SEUS AMIGOS.</p>
        <p>EMBARQUE NESSA TAMBÉM!</p>
        <P>É DE GRAÇA!</P>
        <br>
        <button class="nav-button" onclick="navigateTo('login')">Entrar</button>
    </div>

    <!-- Conteúdo adicional -->
    <div class="extra-info-container">
        <div class="info-block">
            <h2>Sobre Nós</h2>
            <p>Nossa missão é te auxiliar para ingressar nos eventos.</p>
        </div>
        <div class="info-block">
            <h2>Eventos</h2>
            <p>Confira os melhores eventos disponíveis pra você e a rapaziada.</p>
        </div>
        <div class="info-block">
            <h2>Contato</h2>
            <p>Entre em contato conosco para tirar dúvidas ou fazer sugestões 40028922.</p>
        </div>
    </div>

    <!-- Rodapé -->
    <footer class="footer">
        <p>Desenvolvido por:</p>
        <ul>
            <li>Desenvolvedor - <a href="https://github.com/Davicnves">Davi Correia das Neves</a></li>
            <li>Desenvolvedor - <a href="https://github.com/jehhxyz">Jessica Neves Silva</a></li>
        </ul>
    </footer>

    <script src="/scripts/script.js"></script>
</body>

</html>
