<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/style/index.css">
    <link rel="icon" href="/img/logo.webp" type="image/x-icon">

</head>

<body>
    <div class="navbar">
        <img src="/img/logo.webp" alt="Logo" class="logo">

        <!-- colocar onde deve ir -->
        <button class="nav-button" onclick="navigateTo('eventos')">Lista de eventos</button>
        <button class="nav-button" onclick="navigateTo('cadastrarEvento')">Cadastrar eventos</button>
        <button class="nav-button" onclick="navigateTo('/')">logout</button>
    </div>

    <div class="info-container">
        <h1>AQUI VOCÊ TEM O CONTROLE TOTAL!</h1>
        <p>SÓ NÃO VAI AVACALHAR, HEIN!</p>
        <P>DEPOIS DE COLOCAR SEUS DADOS É SÓ AGUARDAR E CURTIR!!</P>
    </div>

    <div class="gif-container">
        <img src="/img/festaneon.gif" alt="GIF de fundo">
    </div>
    <script src="/scripts/script.js"></script>
</body>

</html>